.action {
    height: 100%;
    width: 100%;
    background: #607d8b;
    grid-area: action;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7vw;
}

.action-my-turn {
    background: #fbc02d;
}

.action > span {
    padding-left: 2%;
    padding-right: 2%;
}

.action button {
    margin: 0 1%;
}