* {
    box-sizing: border-box;
}

.board {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 82vh 10vh;
    grid-template-areas:    "main log"
                            "action action"
}

.sidebar {
    height: 100%;
    width: 100%;
    grid-area: log;
    display: flex;
    flex-direction: column;
}

.main {
    height: 100%;
    width: 100%;
    grid-area: main;
    display: flex;
    flex-direction: column;
    background-color: #b3e5fc;
}

.main hr {
    border-width: 5px;
    width: 100%;
}

.selected {
    outline: 5px solid #f50057;
}

.tabs {
    background-color: #0277bd;
    height: 48px;
}

.alert-tab {
    background-color: yellow !important;
}

.MuiTabs-indicator {
    height: 4px !important;
}